name: "CI"
on: [push, pull_request]
jobs:
  validation:
    name: "Building"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: gradle/actions/wrapper-validation@v5
    - name: "Set up JDK 11"
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '11'
    - uses: gradle/actions/setup-gradle@v5
      name: Setup Gradle
    - name: Check Fladle
      run: ./gradlew assembleDebug assembleDebugAndroidTest printYml check :fladle-plugin:check
    - name: Publish Marker Snapshot
      if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
      run: ./gradlew :fladle-plugin:publishFladlePluginMarkerMavenPublicationToMavenCentralRepository :fladle-plugin:publishFulladlePluginMarkerMavenPublicationToMavenCentralRepository -Pfladle.releaseMode -PmavenCentralUsername=${{ secrets.SONATYPE_USERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPE_PASSWORD }}
    - name: Publish Plugin Snapshot
      if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
      run: ./gradlew :fladle-plugin:publishPluginMavenPublicationToMavenCentralRepository -Pfladle.releaseMode -PmavenCentralUsername=${{ secrets.SONATYPE_USERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPE_PASSWORD }}
