name: "CI"
on: [push, pull_request]
jobs:
  validation:
    name: "Building"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: gradle/actions/wrapper-validation@v3
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'
    - uses: gradle/actions/setup-gradle@v3
      name: Setup Gradle
    - name: Check Fladle
      run: ./gradlew assembleDebug assembleDebugAndroidTest printYml check :fladle-plugin:check
    - name: Publish Snapshot
      if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
      run: ./gradlew :fladle-plugin:publishAllPublicationsToMavenRepository -Pfladle.releaseMode -PsonatypeUsername=${{ secrets.SONATYPE_USERNAME }} -PsonatypePassword=${{ secrets.SONATYPE_PASSWORD }}
