name: "CI"
on: [push, pull_request]
jobs:
  validation:
    name: "Building"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: gradle/actions/wrapper-validationn@v3
    - uses: gradle/gradle-build-action@v3
      name: Check Fladle
      with:
        job-id: jdk8
        arguments: assembleDebug assembleDebugAndroidTest printYml check :fladle-plugin:check
    - uses: gradle/gradle-build-action@v3
      name: Publish Snapshot
      if: ${{ github.ref == 'refs/heads/master' && github.event_name != 'pull_request' }}
      with:
        job-id: jdk8
        arguments: :fladle-plugin:publishAllPublicationsToMavenCentralRepository -Pfladle.releaseMode -PmavenCentralUsername=${{ secrets.SONATYPE_USERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPE_PASSWORD }}
